@media (min-width: 840px) {
/*breakpoint for bottom logo*/

.footer {
	background-position: bottom 0px right 0px;
}

}



@media (min-width: 960px) {
/*main desktop breakpoint*/

body {
	background-color: #4c4342;
}

.main-logo {
	height: 150px;
	top: 32px;
	left: 60px;
}

.coffee-title {
	left: 240px;
}

.search-bar {
	top: 16px;
}

.search-button {
	top: 16px;
}

.login-findstore {
	right: 200px;
}

.intro {
	float: left;
	width: 310px;
	height: 245px;
}

.light-medium-dark {
	padding-top: 20px;
}

.select-coffee-wrapper {
	clear: both;
}

.stayintouch {
	position: absolute;
	top: 0px;
	right: 30px;
}

.getconnected {
	top: 0px;
}

}

