@media (min-width: 768px) {
	
.header {
	height: 114px;
}

.header-stripe {
	height: 4px;
}

.main-logo {
	height: 135px;
	top: 40px;
	left: 60px;
	z-index: 1;
}

.login-findstore {
	right: 22px;
}

.search-bar {
	display: block;
	position: absolute;
	width: 135px;
	height: 28px;
	background-color: #eae0d4;
	right: 49px;
	top: 60px;
}

.search-button {
	height: 28px;
	width: 28px;
	top: 60px;
	right: 21px;
}

.search-button > img {
	height: 100%;
	width: 100%;
}

.nav-wrapper {
	padding-left: 220px;
}

.nav-main {
	display: unset;
}

.coffee-title {
	display: block;
	position: absolute;
	font-size: 17pt;
	font-weight: bold;
	top: 50px;
	right: 205px;
}

.coffee-title-lower {
	font-size: 12pt;
	font-weight: normal;
}

.light-medium-dark {
	display: flex;
	justify-content: center;
	padding-top: 10px;
	background-color: #eae0d4;
}

.lmd-unit {
	margin-left: 20px;
	margin-right: 20px;
}

.select-coffee-wrapper {
	display: flex;
}

.select-coffee {
	display: none;
}

.select-coffee-list {
	display: block;
	float: left;
	min-width: 194px;
	max-width: 208px;
	padding-top: 15px;
}

.sc-list-item {
	width: 138px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: black solid 1px;
}

.sc-list-link {
	color: black;
	font-family: serif;
	font-size: 10pt;
}

.sc-list-link:hover {
	color: #d16d22;
}

.display-selected {
}

.product-area {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 30px;
}

.product {
	width: 190px;
	margin-left: 0;
	margin-right: 0;
}

.product-image {
	display: block;
	float: unset;
	margin: 0 auto;
}

.rating-area {
	float: unset;
	padding-top: 0px;
	width: unset;
	text-align: center;
}

.footer {
	clear: both;
	background-image: url(watermark.png);
	background-position: bottom 0px left 420px;
	background-repeat: no-repeat;
}

.footer-section {
	
}

.footer-headings {
	color: #d16d22;
	padding-top: 30px;
	padding-bottom: 18px;
	font-size: 12pt;
}

.footer-link {
	height: 24px;
	font-size: 8pt;
	font-weight: bold;
}

.footer-icon {
	width: 24px;
	font-size: 14pt;
}

.getconnected {
	position: absolute;
	top: 112px;
	left: 320px;
}

.general-links-box {
	-moz-column-count: 2;
	-moz-column-fill: auto;
	width: 290px;
	height: 145px;
}

.copyright {
	font-size: 8pt;
}

}




































